@using CoreDemo.Settings
@using Microsoft.Extensions.Options
@model System.Collections.Generic.IEnumerable<CoreDemo.Models.Cinema>

@inject IOptions<ConnectionOptions> options
@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Location</th>
                    <th scope="col">Capacity</th>
                    <th scope="col">@options.Value.DefaultConnection</th>
                </tr>
            </thead>
            <tbody>
                @Html.DisplayForModel();
            </tbody>
        </table>
        <a asp-controller="Home" asp-action="Add">Add</a>

        <!--调用公共-->
        @*@await Component.InvokeAsync("MovieCount");*@

    </div>
</div>

